

table {
  width: 100%;
}





.mat-column-created {
  max-width: 124px;
}




.formBg {
  padding: 20px;
  border-radius: 8px;
  background: rgba(43,91,162,0.5);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(43,91,162,0.25);
}

.formDesc {
  resize: none;
}
.make-gold {
  background: rgba(223,198,198,0.5);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border: 1px solid rgba(223,198,198,0.25);
}
.page{
  background: rgba(171,170,214,0.5);
  -webkit-backdrop-filter: blur(9px);
  backdrop-filter: blur(9px);
  border: 1px solid rgba(171,170,214,0.25);
}

.paginator{
  margin-left: 450px;
  
  margin-bottom: 10px;
}

.filter{
  font-style:bold;
  font-size: large;
}


